geo_secondary_role['enable'] = true
gitlab_rails['geo_node_name'] = "{{ geo_secondary_site_name }}"

geo_secondary['db_host'] = '{{ geo_secondary_site_postgres_int_ip }}'
geo_secondary['db_password'] = '{{ postgres_password }}'

{% if 'geo_secondary_site_postgres_primary' in groups %}
geo_postgresql['enable'] = false
{% endif %}

{% if 'sidekiq' in group_names or ('gitlab_rails' in group_names and 'geo_primary_site_sidekiq_primary' not in groups) %}
geo_logcursor['enable'] = true
{% else %}
geo_logcursor['enable'] = false
{% endif %}